APP_ENV=local
APP_PORT=3000
APP_VERSION=0.1.0

DATABASE_URL=postgresql://fitme:fitme@localhost:5433/fitme_sportswear_backend?schema=public
REDIS_HOST=localhost
REDIS_PORT=6380

SAPO_BASE_URL=https://example-sapo.local
SAPO_ACCESS_TOKEN=change-me

PANCAKE_BASE_URL=https://example-pancake.local
PANCAKE_API_KEY=change-me

SHOPIFY_BASE_URL=https://example-shopify.local
SHOPIFY_ACCESS_TOKEN=change-me
SHOPIFY_WEBHOOK_SECRET=change-me
