SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fitme_sportswear
SPRING_DATASOURCE_USERNAME=change-me
SPRING_DATASOURCE_PASSWORD=change-me

PANCAKE_API_KEY=change-me
SHOPIFY_ACCESS_TOKEN=change-me
SHOPIFY_SUBDOMAIN=change-me
SHOPIFY_WEBHOOK_SECRET=change-me

SAPO_PHONE_NUMBER=change-me
SAPO_PASSWORD=change-me
SAPO_CLIENT_ID=change-me
SAPO_SHOP_DOMAIN=change-me.mysapogo.com

TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_CHAT_ID=change-me
GEMINI_API_KEY=change-me
